@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.music-container {
  background-color: white;
  width: 70%;
  height: 20%;
  display: flex;
  /*padding-bottom: 20px;
  padding-top: 70px;
  padding-left: 20px;
  position: fixed;
  margin-bottom: 5px;*/
  position: fixed;
  bottom: 0;
  z-index: -2;
  border-top: 2px solid rgb(233, 233, 233);
}

.img-container {
  position: relative;
  width: 15vh;
  height: 15vh;
  margin-left: 2vh;
  margin-top: 2vh;
}

.img-container::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 60%;
  width: 25%;
  padding-bottom: 25%;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 15;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

#cover {
  height: 15vh;
  width: 15vh;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 20%;
  margin-top: 8%;
  width: 100%;
  margin-right: 11%;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  font-size: 30px;
}

.action-btn:hover, .action-btn.action-btn-big:hover {
  color: rgb(0, 212, 237);
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  width: 95%;
  margin-left: 15%;
  margin-top: 3%;
  opacity: 1;
  transform: translateY(-40%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: lightgray;
  border-radius: 5px;
  cursor: pointer;
  
  height: 6px;
  width: 85%;
}

.progress {
  background-color: black;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}